.account-setup-container {
    max-width: 50em;
    margin: 5em auto 0;
  }
  
 .account-setup-container form {
    margin: 5px auto;
    padding: 15px 0;
  }
  
  .account-setup-container form div {
    padding: 5px;
    display: inline-block;
  }
  
  .account-setup-container input {
    display: inline-block;
  }
  
  .account-setup-container label {
    display: block;
    text-align: left;
  }
  
  .account-setup-container  input {
    width: 150px;
  }

  .setup-step {
    margin-top: 80px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
  }
  
  table, th {
    border: 1px solid #ccc;
  }
  
  td {
    border-bottom: 1px solid #ccc;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    width: 33%;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #ddd;
  }
  