.account-setup-container {
    max-width: 50em;
    margin: 5em auto 0;
  }
  
  .account-setup-container input {
    display: inline-block;
  }
  
  .account-setup-container  input {
    width: 150px;
  }

  .update-salary-form div {
    display: inline-block;
    padding: 5px;
  }

  .setup-step {
    margin-top: 80px;
  }
  