
.dashboard-container {
  max-width: 50em;
  margin: auto;
}

.dashboard-container .main-header {
    margin-top: 75px;
  }

  .dashboard-container .portfolio-data {
    margin: auto;
  }

  .category-modules {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.dashboard-container  section {
    max-width: 500px;
    padding: 20px;
    margin: 15px;
  }


.dashboard-container section:nth-child(even) {
    background-color: #eee;
  }
  
  
.dashboard-container section:nth-child(odd) {
    background-color: #ccc;
  }
  

  
