.update-transaction-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.update-transaction-form .form-input-container {
    width: 24%;
}

.update-transaction-form .form-input {
    display: inline-block;
    width: 100%;
}

.transaction-amount-input {
    display: flex;
}